@mixin fade-in-down($duration: 2.5s, $start: -30px, $end: 0px, $delay: 0.5s, $name: unique-fade-in) {
    @keyframes #{$name} {
      from {
        opacity: 0;
        transform: translateY($start);
      }
      to {
        opacity: 1;
        transform: translateY($end);
      }
    }
    animation: #{$name} $duration ease-out $delay forwards;
  }