@import "partials/reset", "partials/colors", "partials/fonts",
  "partials/spacings", "partials/buttons", "partials/mixins",
  "partials/animations";

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $bg-hero;
  padding: 15px;
  li {
    list-style: none;
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
}

.headline {
  text-align: center;
  padding: 3rem;
  
  h2{
    @include title-big;
  }
  p{
    font-style: italic;
  }
  button {
    font-weight: 800;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: $bg-hero; 
  .text-container {
    padding: 25px;
    font-size: 24px;
    font-weight: 500;
    @include fade-in-down; 
  }
  .image-container img {
    @include floating; 
  }
}

.grid-container {
    justify-content: center;
    margin: 30px 0px;
  @include grid(
    4
  ); 
  .image-container {
    @include floating(
      $shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
      $border: none
    ); 
  }
}
