html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.padding-block-sm {
  padding-block: 8px;
}

.padding-inline-sm {
  padding-inline: 8px;
}

.margin-block-sm {
  margin-block: 8px;
}

.margin-inline-sm {
  margin-inline: 8px;
}

.padding-block-normal {
  padding-block: 16px;
}

.padding-inline-normal {
  padding-inline: 16px;
}

.margin-block-normal {
  margin-block: 16px;
}

.margin-inline-normal {
  margin-inline: 16px;
}

.padding-block-md {
  padding-block: 24px;
}

.padding-inline-md {
  padding-inline: 24px;
}

.margin-block-md {
  margin-block: 24px;
}

.margin-inline-md {
  margin-inline: 24px;
}

.padding-block-lg {
  padding-block: 32px;
}

.padding-inline-lg {
  padding-inline: 32px;
}

.margin-block-lg {
  margin-block: 32px;
}

.margin-inline-lg {
  margin-inline: 32px;
}

.padding-block-xl {
  padding-block: 40px;
}

.padding-inline-xl {
  padding-inline: 40px;
}

.margin-block-xl {
  margin-block: 40px;
}

.margin-inline-xl {
  margin-inline: 40px;
}

.padding-block-xxl {
  padding-block: 48px;
}

.padding-inline-xxl {
  padding-inline: 48px;
}

.margin-block-xxl {
  margin-block: 48px;
}

.margin-inline-xxl {
  margin-inline: 48px;
}

.button-0e6cff {
  background-color: #0e6cff;
}

.button-ff8700 {
  background-color: #ff8700;
}

.button-4caf50 {
  background-color: #4caf50;
}

.button-discover {
  background-color: #0e6cff;
  border: none;
  padding: 15px 20px;
  margin: 15px 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-discover:hover {
  background-color: #0055da;
}

.button-login {
  background-color: #ff8700;
  border: none;
  padding: 15px 20px;
  margin: 15px 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-login:hover {
  background-color: #cc6c00;
}

.button-contact {
  background-color: #4caf50;
  border: none;
  padding: 15px 20px;
  margin: 15px 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-contact:hover {
  background-color: #3d8b40;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #640fc5;
  padding: 15px;
}
nav ul li {
  list-style: none;
}
nav ul a {
  color: #f4f4f4;
  text-decoration: none;
}

.headline {
  text-align: center;
  padding: 3rem;
}
.headline h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.headline p {
  font-style: italic;
}
.headline button {
  font-weight: 800;
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: #640fc5;
}
.hero .text-container {
  padding: 25px;
  font-size: 24px;
  font-weight: 500;
  animation: unique-fade-in 2.5s ease-out 0.5s forwards;
}
@keyframes unique-fade-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.hero .image-container img {
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.grid-container {
  justify-content: center;
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.grid-container > * {
  flex: 0 1 calc(100% / 4 - 20px);
}
.grid-container .image-container {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
}/*# sourceMappingURL=style.css.map */